<h1>Listing Invoices</h1>

<table class="table" class="responsive">
  <tr>
    <th></th>
    <th>Invoice Name</th>
    <th>Total</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr class="<%= (invoice.Name == 'Closed Won') ? "success" : "warning"%> ">
    <td></i><%= link_to invoice_path(invoice) do %><i class="fa fa-pencil-square-o"><% end %></td>
    <td><%= invoice.try(:Name) %></td>
    <td><%= invoice.try(:Invoice_Total__c) %></td>
    <td><%= invoice.try(:Status__c) %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= will_paginate @invoices %>
