<h3><%= @user.name %></h3>
<div class="span8">
  <%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :username, "Salesforce Username" %>
    <%= f.text_field :username %>

    <%= f.label :password, "Salesforce Password" %>
    <%= f.password_field :password, value: @user.password %>

    <%= f.label :security_token, "Salesforce Security Token" %>
    <%= f.password_field :security_token, value: @user.security_token %>

    <%= f.label :invoice_api_name, "Invoice API Name" %>
    <%= f.text_field :invoice_api_name %>

    <%= f.label :line_item_api_name, "Line Item API Name" %>
    <%= f.text_field :line_item_api_name %>

    <%= f.label :other_model_names, "Other object API Name" %>
    <%= f.text_field :other_model_names, name: "user[other_model_names][]", value: @user.other_model_names.first %>

    <%= f.submit %>
  <% end %>

  <h1>Gold Subscription</h1>
  <%= form_tag subscriptions_path do %>
    <%= hidden_field_tag :email, current_user.email %><br>
    <%= hidden_field_tag :plan_id, 101 %>
    <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key=<%= Rails.configuration.stripe[:publishable_key] %>
      data-name="Stripe Tutorial"
      data-description="Gold"
      data-currency="usd"
      data-image="/128x128.png">
    </script>
  <% end %>

  <h1>Silver Subscription</h1>
  <%= form_tag subscriptions_path do %>
    <%= hidden_field_tag :email, current_user.email %><br>
    <%= hidden_field_tag :plan_id, 102 %>
    <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key=<%= Rails.configuration.stripe[:publishable_key] %>
      data-name="Stripe Tutorial"
      data-description="Silver"
      data-currency="usd"
      data-image="/128x128.png">
    </script>
  <% end %>

  <h1>Bronze Subscription</h1>
  <%= form_tag subscriptions_path do %>
    <%= hidden_field_tag :email, current_user.email %><br>
    <%= hidden_field_tag :plan_id, 103 %>
    <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key=<%= Rails.configuration.stripe[:publishable_key] %>
      data-name="Stripe Tutorial"
      data-description="Bronze"
      data-currency="usd"
      data-image="/128x128.png">
    </script>
  <% end %>
</div>
