<h3><%= @user.name %></h3>
<div class="span8">
  <%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :model_names %>
    <%= text_field_tag "user[model_names][]", (@user.model_names[0] if @user.model_names.present?), placeholder: 'Enter model term...' %>
    <%= text_field_tag "user[model_names][]", (@user.model_names[1] if @user.model_names.present?), placeholder: 'Enter model term...' %>
    <%= text_field_tag "user[model_names][]", (@user.model_names[2] if @user.model_names.present?), placeholder: 'Enter model term...' %>

    <%= f.submit %>
  <% end %>
</div>
