<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ready Invoice" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ready Invoice" %>">
    <%= stylesheet_link_tag "application", :media => 'all' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body class="dashboard no-header no-footer" style="" data-twttr-rendered="true">
    <%= flash_messages %>

    <div id="main" role="main">
      <div class="dashboard-layout">
        <% # TODO pull these into partials  %>
        <div class="sidebar">
          <div class="dashboard-sidebar">
            <% link_to "/", "Home", class: "header-logo white active" %>
            <a class="sidebar-toggle"><i class="icon-reorder icon-large"></i></a>
            <!-- <small class="demo-label label label-danger">Live demo</small> -->
            <div class="list-group">
              <div class="list-group-item user active" data-username="bitdeli-demo">
                <h4 class="list-group-item-heading username" title="" rel="tooltip" data-original-title="bitdeli-demo">
                <span class="user-nav-icon avatar"><%= image_tag("ri.png") %></span>
                <!-- <span class="user-nav-icon avatar" style="background-image: img(ri.png)"></span> -->
                <span class="sidebar-label">Ready Invoice</span>
                </h4>
                <div class="user-nav list-group in" style="height: auto;">
                  <% if user_signed_in? %>
                    <%= link_to invoices_path, class: "list-group-item home" do %>
                      <i class="fa fa-money user-nav-icon icon-dashboard icon-large"></i>
                      <span class="sidebar-label">Invoices</span>
                    <% end %>
                    <% if current_user.has_role? :admin %>
                      <%= link_to users_path, class: "list-group-item home" do %>
                        <i class="fa fa-users user-nav-icon icon-dashboard icon-large"></i>
                        <span class="sidebar-label">Users</span>
                      <% end %>
                    <% end %>
                    <%= link_to synch_path, class: "list-group-item home" do %>
                      <i class="fa fa-refresh user-nav-icon icon-dashboard icon-large"></i>
                      <span class="sidebar-label">Refresh Data</span>
                    <% end %>
                    <%= link_to signout_path, class: "list-group-item home" do %>
                      <i class="fa fa-sign-out user-nav-icon icon-dashboard icon-large"></i>
                      <span class="sidebar-label">Log Out</span>
                    <% end %>
                  <% else %>
                    <%= link_to signin_path, class: "list-group-item home" do %>
                      <i class="fa fa-sign-in user-nav-icon icon-dashboard icon-large"></i>
                      <span class="sidebar-label">Log In</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="page-wrapper">
          <div class="page" style="min-height: 523px;">
            <div class="masthead">
              <div class="dashboard-masthead jumbotron">
                <div class="masthead-top">
                  <div class="row">
                    <div class="large-12 columns">
                      <%= yield %>
                    </div>
                  </div>
                  <%= javascript_include_tag "application" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
