<!DOCTYPE html>
<html><head><style>article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio[controls],canvas,video{display:inline-block}[hidden],audio{display:none}mark{background:#FF0;color:#000}</style>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="license" href="http://www.opensource.org/licenses/mit-license/">
    <%= javascript_include_tag "invoice" %>
    <%= stylesheet_link_tag "invoice" %>
    <%= stylesheet_link_tag "pdf" %>
    <%= stylesheet_link_tag "font-awesome" %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
